// Colors
$base-color: #000000;
$accent-color: #18898A;
$primary-color: #48466D;
$secondary-color: #3D84A8;

$gray-194: #c2c2c2;
$gray-239: #efefef;
$gray-245: #f5f5f5;

$success-color: #11fd6d;
$info-color: #b9dfff;
$warning-color: #fff600;
$danger-color: #fd0d4d;

$white-color: #ffffff;
$black-color: #000000;
$light-color: #e4e4e4;
$muted-color: #7a7a7a;
$link-color: $accent-color;


// Fonts
$font-size: 16px;
$primary-font: "GothamPro", sans-serif;
$secondary-font: "MinionPro", "Cambria", "Georgia", serif;

$duration: 0.25s;
$border-radius: 2px;

$site-offset-x: 75px;
$site-offset-y: 50px;

$cursor-pointer: url("images/cursor.svg") 10 10, auto;
$cursor-pointer-active: url("images/cursor_active.svg") 10 10, pointer;


// Grid
$grid-columns: 12;
$gutter: 30px;
