.clients {
  position: relative;
  height: 100%;
  min-width: 1px;
}

.clients__lists-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;

  @include mq-max(1023px) {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
}

.clients__list {
  @include clear-list();

  display: flex;
  justify-content: space-between;
  margin-bottom: 5vh;

  &:last-child {
    margin-bottom: 0;
  }

  @include mq-max(1023px) {
    display: contents;
  }
}

.clients__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  width: 30%;

  @include mq-range(410px, 666px) {
    width: 30%;
  }

  @include mq-range(667px, 768px) {
    width: 16%;
  }

  @include mq-max(1023px) {
    &--for-desktop {
      display: none;
    }
  }

  @include mq-min(1024px) {
    flex-shrink: 0;
    min-width: 10vw;
    margin-right: 5vw;
    text-align: center;
    transition: $duration * 3 $duration * 1.5 cubic-bezier(0.6, 0, 0.4, 1);

    &:last-child {
      margin-right: 0;
    }
  }
}

@include mq-min(1024px) {
  .section-clients:not(.active) .clients__item {
    margin-bottom: vh(50);
  }
}

.clients__picture {
  filter: grayscale(100%);
}

.clients__title {
  margin: 0;
  font-weight: 600;
  font-size: vh(18);
  line-height: 1.15;

  span {
    display: block;
  }

  mark {
    position: relative;
    background-color: transparent;

    &::before {
      content: "";
      position: absolute;
      left: -2px;
      bottom: -4px;
      z-index: -1;
      width: 105%;
      height: 10px;
      transform: rotate(-2deg);
      transform-origin: 0 100%;
      background-color: $warning-color;
    }
  }
}

.clients__text {
  max-width: 260px;
  margin: 0;
  font-size: vh(11);
}

.clients__item-text {
  max-width: 260px;
  margin: 0;
}

.clients__hover-block {
  display: none;

  @include mq-min(1024px) {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20%;

    &--left {
      left: 0;
      background: linear-gradient(to right, rgba(#ffffff, 1) 10%, rgba(#000000, 0));
    }

    &--right {
      right: 0;
      background: linear-gradient(to left, rgba(#ffffff, 1) 10%, rgba(#000000, 0));
    }
  }
}
