.clients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 1px;

  @include mq-max(1023px) {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
}

.clients__list {
  @include clear-list();

  @include mq-max(1023px) {
    display: contents;
  }
}

@include mq-min(1024px) {
  .section-clients:not(.active) .clients__item {
    margin-bottom: vh(2);
  }
}

.clients__line {
  width: 100%;

  @include mq-max(1023px) {
    display: contents;
  }

  @include mq-min(1024px) {
    height: calc(100% / 3);
    overflow-x: hidden;
  }
}

.clients__list-wrapper {
  display: flex;
  height: 100%;

  @include mq-max(1023px) {
    display: contents;
  }
}

.clients__list {
  @include clear-list();

  display: flex;
  height: 100%;

  @include mq-max(1023px) {
    display: contents;
  }
}

.clients__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 140px;
  margin: 8px;
  text-align: center;
  box-sizing: border-box;

  @include mq-max(1023px) {
    &--for-desktop {
      display: none;
    }
  }

  @include mq-min(1024px) {
    min-width: calc((100vw - #{vh(75)}) / 5);
    height: 100%;
  }
}

.clients__title {
  margin: 0;
  font-weight: 600;
  font-size: vh(18);
  line-height: 1.15;

  span {
    display: block;
  }

  mark {
    position: relative;
    background-color: transparent;

    &::before {
      content: "";
      position: absolute;
      left: -2px;
      bottom: -4px;
      z-index: -1;
      width: 105%;
      height: 10px;
      transform: rotate(-2deg);
      transform-origin: 0 100%;
      background-color: $warning-color;
    }
  }
}

.clients__text {
  max-width: 260px;
  margin: 0;
  font-size: vh(11);
}

.clients__item-text {
  max-width: 260px;
  margin: 0;
}

.clients__hover-block {
  display: none;

  @include mq-min(1024px) {
    position: absolute;
    top: -30px;
    bottom: -30px;
    display: block;
    width: 20%;

    &--left {
      left: 0;
      background: linear-gradient(to right, rgba(#ffffff, 1) 10%, rgba(#ffffff, 0));
    }

    &--right {
      right: 0;
      background: linear-gradient(to left, rgba(#ffffff, 1) 10%, rgba(#ffffff, 0));
    }
  }
}
