.compare-plans {
  table-layout: fixed;
  text-transform: none;

  @include mq-max(1023px) {
    display: block;
  }
}

.compare-plans__tariffs-options {
  @include mq-max(1023px) {
    display: none;
  }
}
