.cta-form {
  padding: 20px;
  background-color: $gray-245;

  @include mq-min(1024px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: $site-offset-x;
    padding-right: 70px;
  }
}

.cta-form__title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: rem(15);
  line-height: 1.15;
  text-align: center;

  b {
    display: block;
    font-weight: 500;
    font-size: rem(24);
  }

  @include mq-min(1024px) {
    width: 100%;
    font-size: vh(15);

    b {
      font-size: vh(24);
    }
  }
}

.cta-form__field {
  @include mq-min(1024px) {
    width: 30%;
    max-width: 365px;
    margin-right: 25px;
    margin-bottom: 0;
  }
}
