.homepage-section {
  @include mq-max(1023px) {
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 1px solid $light-color;
  }

  @include mq-min(1024px) {
    opacity: 0;
    transition: opacity $duration * 2 cubic-bezier(0.3, 0.1, 1, 1) $duration;

    &.active {
      opacity: 1;
    }
  }
}
