.main-nav__list {
  @include clear-list();

  @include mq-min(1024px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    z-index: 1;
  }
}

.main-nav__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-weight: 600;
  font-size: rem(20);
  text-align: center;
  text-decoration: none;
  color: $gray-194;
  z-index: 1;

  &:hover,
  &:focus {
    color: $base-color;
  }

  .main-nav__item--opened & {
    color: $base-color;
  }

  @include mq-max(1023px) {
    .main-nav__item--has-submenu & {
      &::after {
        content: "";
        width: 8px;
        height: 8px;
        margin-left: 6px;
        background-color: currentColor;
        border-radius: 50%;
      }
    }
  }

  @include mq-min(1024px) {
    position: relative;
    padding: 15px 0;
    font-weight: 500;
    font-size: rem(12);
    line-height: vh(75);

    .main-nav__item:hover &,
    &:hover {
      color: $base-color;
    }
  }

  @include mq-min(1440px) {
    font-size: vh(13);
  }
}

.main-nav__text {
  @include mq-min(1024px) {
    display: inline-block;
    transform: rotate(-90deg) translate3d(0, 0, 0);
    // writing-mode: vertical-lr;
    transition: $duration * 2 $duration;

    .main-nav__item:hover &,
    .main-nav__link:hover &,
    .main-nav__link:focus & {
      transform: rotate(-90deg) translateY(120%);
      opacity: 0;
      transition-delay: 0s;
    }
  }
}

.main-nav__big-text {
  display: none;

  @include mq-min(1024px) {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    transform: translate(100%, -50%);
    font-weight: 700;
    font-size: vh(90);
    text-transform: uppercase;
    background-color: #ffffff;
    transition: $duration * 2;

    .main-nav__item--has-submenu & {
      &::before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        width: 100%;
        height: 1px;
        margin: auto;
        background-color: $base-color;
        opacity: 0;
        transition: $duration * 2 $duration / 2;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: -100%;
        bottom: 0;
        z-index: -1;
        width: 200%;
      }
    }

    .main-nav__item:hover &,
    .main-nav__link:hover &,
    .main-nav__link:focus & {
      transform: translate(0, -50%);
      transition-delay: $duration;

      &::before {
        right: calc(100% + #{$site-offset-x});
        opacity: 1;
      }

      &::after {
        top: -80px;
        right: 50%;
        bottom: -80px;
        transition: $duration * 2 $duration / 2;
      }
    }
  }
}

.main-nav__submenu {
  @include mq-max(1023px) {
    display: none;

    .main-nav__item--opened & {
      display: block;
    }
  }

  @include mq-min(1024px) {
    position: fixed;
    left: 0;
    top: 0;
    right: 50%;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    // transition: $duration $duration;
    pointer-events: none;

    .main-nav__item:hover & {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }
}
