.main-header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  max-width: 100%;
  padding: 20px;
  pointer-events: none;
  transition: $duration * 2;

  @include mq-min(1024px) {
    left: $site-offset-x;
    top: $site-offset-y;
    right: $site-offset-x + 70px;
    padding: 0;
  }
}

.homepage {
  @include mq-max(1023px) {
    .main-header {
      position: fixed;
      filter: invert(100%);
    }

    .main-header--sticky {
      background-color: #ffffff;
      filter: invert(0%);
    }

    &.is-navbar-opened .main-header {
      filter: invert(0%);
    }
  }
}

.main-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header__logo {
  pointer-events: auto;
}

.main-header__actions {
  pointer-events: auto;
  transition: $duration * 2;

  @include mq-min(1024px) {
    .is-nav-hovered & {
      opacity: 0;
    }
  }
}

.main-header__navbar-toggle {
  @include mq-min(1024px) {
    display: none;
  }
}

.main-header__to-order {
  transition: $duration * 1.5;

  .is-last-section & {
    visibility: hidden;
    opacity: 0;
  }

  @include mq-max(1023px) {
    display: none;
  }
}
