.main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: rem(11);

  @include mq-min(1024px) {
    z-index: 10;
    padding-left: vh(75);
    padding-right: vh(75 + 70);
  }
}

.homepage .main-footer {
  @include mq-min(1024px) {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
  }
}

.main-footer__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;

  @include mq-min(1024px) {
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
  }
}

.main-footer__social {
  margin-bottom: 40px;
  pointer-events: auto;

  @include mq-min(1024px) {
    margin-bottom: 0;
  }
}

.main-footer__copy {
  margin: 0;
  pointer-events: auto;
}
