.main-footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq-min(1024px) {
    flex-direction: row;
  }
}

.main-footer-social__label {
  margin-bottom: 10px;
  font-weight: 500;

  @include mq-min(1024px) {
    margin-right: 30px;
  }
}

.main-footer-social__list {
  @include clear-list();

  display: flex;
  align-items: center;
  margin-right: -30px;
  font-weight: 500;
}

.main-footer-social__item {
  margin-right: 30px;
}

.main-footer-social__link {
  position: relative;
  display: block;
  text-decoration: none;
  color: $base-color;
  overflow: hidden;
  cursor: $cursor-pointer-active;

  &:hover,
  &:focus {
    color: $base-color;
    cursor: $cursor-pointer-active;
  }
}

.main-footer-social__text-link {
  display: block;
  transition: transform $duration * 1.5;

  &::before {
    content: attr(data-text);
    position: absolute;
    top: 100%;
    display: block;
  }

  .main-footer-social__link:hover &,
  .main-footer-social__link:focus & {
    transform: translateY(-100%);
  }
}
