.navbar-social {
}

.navbar-social__label {

}

.navbar-social__list {
  @include clear-list();

  display: flex;
  align-items: center;
  font-weight: 500;
}

.navbar-social__item {
  width: 50%;
}

.navbar-social__link {
  position: relative;
  font-size: rem(12);
}
