.page {
  padding: 20px;
  padding-top: 140px;
  padding-bottom: 0;

  @include mq-min(1024px) {
    padding-top: 150px;
    padding-right: 70px;
    padding-left: $site-offset-x;
  }
}

.page-title {
  margin: 0;
  font-size: rem(36);

  @include mq-min(1024px) {
    position: absolute;
    top: 60px;
    left: $site-offset-x + 240px;
    font-size: vh(36);
    line-height: 1.15;
  }
}
