.section-intro {
  padding-top: 0;

  @include mq-min(1024px) {
    margin-right: vh(75);
    padding-bottom: 0;
  }
}

.section-intro__inner {
  @include mq-min(1024px) {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: vh(75);
  }
}

.section-intro__top {
  @include mq-min(1024px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 50%;
    padding-top: 100px;
    box-sizing: border-box;
  }
}

.section-intro__bottom {
  padding: 20px;
  padding-top: 60px;
  padding-bottom: 0;

  @include mq-min(1024px) {
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: $site-offset-y;
  }
}

.section-intro__main-image {
  height: 70vw;

  @include mq-min(1024px) {
    height: auto;
    margin-left: vh(-75);
    padding-left: vh(75);
    padding-right: vh(70);
  }
}

.section-intro__content {
  font-weight: 500;
  font-size: rem(12);

  @include mq-min(1024px) {
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: vh(70);
    font-size: vh(11);
  }
}

.section-intro__title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: rem(36);
  line-height: 1.15;
  box-sizing: border-box;
  transition: $duration * 3 $duration * 1.5 cubic-bezier(0.6, 0, 0.4, 1);

  span {
    display: block;
    white-space: nowrap;
  }

  mark {
    position: relative;
    background-color: transparent;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      bottom: 0;
      width: 105%;
      height: 10px;
      transform: rotate(-2deg);
      transform-origin: 0 100%;
      background-color: $warning-color;
    }
  }

  @include mq-min(1024px) {
    width: 50%;
    margin-bottom: 0;
    padding-right: $gutter;
    font-size: vh(36);
  }
}

@include mq-min(1024px) {
  .section-intro:not(.active) .section-intro__title {
    line-height: 1;
    margin-bottom: vh(50);
  }
}

.section-intro__to-order {
  margin-bottom: $gutter * 2;

  @include mq-min(1024px) {
    display: none;
  }
}

.section-intro__text {
  @include clear-mr-edges-elem();

  transition: $duration * 3 $duration * 1.5 cubic-bezier(0.6, 0, 0.4, 1);

  mark {
    position: relative;
    background-color: transparent;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      left: -2%;
      bottom: 0;
      width: 106%;
      height: 8px;
      transform: rotate(-1deg);
      transform-origin: 100% 100%;
      background-color: $warning-color;
    }
  }

  @include mq-min(1024px) {
    width: 50%;
  }
}

@include mq-min(1024px) {
  .section-intro:not(.active) .section-intro__text {
    margin-bottom: vh(70);
  }
}
