.section-contact-form {
  .field {
    transition: $duration * 3 $duration * 1.5 cubic-bezier(0.6, 0, 0.4, 1);
  }
}

.section-contact-form__text {
  max-width: 350px;
  margin: 0;
  margin-bottom: 35px;
  font-size: rem(12);

  @include mq-min(1024px) {
    font-size: vh(11);
  }
}

@include mq-min(1024px) {
  .section-contact:not(.active) .section-contact-form {
    .field {
      margin-bottom: vh(40);
    }
  }
}
