.section-contact {
  padding-bottom: 40px;
  border-bottom: none;
}

.section-contact__inner {
  padding-left: 20px;
  padding-right: 20px;

  @include mq-min(1024px) {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: vh(75);
    margin-right: vh(75);
    padding-top: $site-offset-y * 3;
    padding-bottom: $site-offset-y * 2;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
}

.section-contact__text {
  @include clear-mr-edges-elem();

  margin-bottom: $gutter * 2;
  font-weight: 600;
  font-size: rem(36);
  line-height: 1;
  box-sizing: border-box;
  transition: $duration * 3 $duration * 1.5 cubic-bezier(0.6, 0, 0.4, 1.2);

  @include mq-min(1024px) {
    width: 60%;
    margin-bottom: 0;
    padding-right: 80px;
    line-height: 1.15;
    font-size: vh(60);
  }

  @include mq-min(1280px) {
    width: 50%;
    padding-right: 150px;
  }
}

@include mq-min(1024px) {
  .section-contact:not(.active) .section-contact__text {
    line-height: 1;
    margin-bottom: vh(20);
  }
}

.section-contact__form {
  @include mq-min(1024px) {
    width: 50%;
  }
}
