.submenu {

}

.submenu__list {
  @include clear-list();

  white-space: nowrap;
}

.submenu__item {

}

.submenu__link {
  display: block;
  padding: 5px;
  text-align: center;
  color: #c2c2c2;
  text-decoration: none;
  font-size: rem(15);

  &:hover,
  &:focus {
    color: $base-color;
  }

  @include mq-min(1024px) {
    font-size: rem(40);
  }
}
