table {
  max-width: 100%;
  width: 100%;
  font-size: 12px;
  font-family: $primary-font;
  text-transform: uppercase;
  text-align: center;
  border-collapse: collapse;
}

th,
td {
  padding: 5px;
  font-weight: 500;
  border: 1px solid $gray-194;

  @include mq-min(1024px) {
    padding: vh(10) vh(12);
  }
}
