.work-detail-participate {
  padding: 20px;
  background-color: $gray-245;
}

.work-detail-participate__list {
  @include clear-list();

  @include mq-max(1023px) {
    display: table;
    margin-left: auto;
    margin-right: auto;
  }

  @include mq-min(1024px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.work-detail-participate__item {
  box-sizing: border-box;

  @include mq-max(1023px) {
    display: table-row;
  }

  @include mq-min(1024px) {
    width: 20%;
    padding-right: 5px;
  }
}

.work-detail-participate__post {
  display: block;
  font-weight: 600;
  font-size: rem(12);
  text-transform: lowercase;

  .work-detail-participate__item:last-child & {
    padding-bottom: 0;
  }

  @include mq-max(1023px) {
    display: table-cell;
    padding-bottom: 15px;
    padding-right: 20px;
    text-align: right;
  }

  @include mq-min(1024px) {
    font-size: vh(12);
  }
}

.work-detail-participate__members {
  @include clear-list();

  font-weight: 400;
  font-size: rem(15);
  text-transform: none;

  .work-detail-participate__item:last-child & {
    padding-bottom: 0;
  }

  @include mq-max(1023px) {
    display: table-cell;
    padding-bottom: 15px;
  }

  @include mq-min(1024px) {
    font-size: vh(15);
  }
}
