.work-detail {
  display: flex;
  flex-direction: column;

  @include mq-min(1024px) {
    padding-top: 80px;
  }
}

.work-detail__header {
  width: 100%;
  max-width: rem(600);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  text-align: center;

  @include mq-min(1024px) {
    margin-top: vh(120);
  }

  @include mq-min(1280px) {
    max-width: 56.6%;
  }

  @include mq-min(1440px) {
    max-width: 50%;
  }
}

.work-detail__edging {
  position: relative;
  margin-bottom: 20px;

  @include mq-min(1024px) {
    margin-bottom: vh(45);
    padding-left: $site-offset-x;
    padding-right: $site-offset-x;
    box-sizing: border-box;
    border: 1px solid;
  }
}

.work-detail__picture-wrapper {
  margin-bottom: 20px;

  @include mq-min(1024px) {
    margin-bottom: 0;
    transform: translateY(-50%);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
  }
}

.work-detail__picture {
  @include make-fit-object(450, 300);

  @include mq-min(1024px) {
    @include make-fit-object(450, 150);
  }
}

.work-detail__title {
  margin: 0;
  font-weight: 600;
  font-size: rem(24);
  line-height: 1.15;
  text-align: center;

  @include mq-min(1024px) {
    position: absolute;
    left: 75px;
    right: 75px;
    padding-left: 20px;
    padding-right: 20px;
    transform: translateY(-50%);
    font-size: vh(34);
    background-color: #ffffff;
  }
}

.work-detail__to-visit {
  position: relative;
  display: inline-block;
}

.work-detail__to-visit-icon {
  display: block;
  width: rem(22);
  height: rem(22);
  fill: $base-color;

  @include mq-min(1024px) {
    width: vh(22);
    height: vh(22);
  }
}

.work-detail__body {
  max-width: rem(600);
  margin-left: auto;
  margin-right: auto;

  @include mq-min(1280px) {
    max-width: 56.6%;
  }

  @include mq-min(1440px) {
    max-width: 50%;
  }
}

.work-detail__footer {
  margin-left: -20px;
  margin-right: -20px;

  @include mq-min(1024px) {
    margin-left: vh(-75);
    margin-right: vh(-70);
  }
}

.work-detail__query-work {
  max-width: rem(600);
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;

  b {
    font-weight: 600;
  }

  @include mq-min(1024px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.work-detail__participate {
  padding: 25px 20px;

  @include mq-min(1024px) {
    padding-left: $site-offset-x;
    padding-right: 70px;
  }
}

.work-detail__social-share {
  background-color: #fd3;

  @include mq-min(1024px) {
    padding-left: $site-offset-x;
    padding-right: 70px;
  }
}

.work-detail__to-back {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  order: -1;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: rem(12);
  text-decoration: none;
  color: $base-color;

  &:hover,
  &:focus {
    color: $base-color;
  }

  @include mq-min(1024px) {
    &::after {
      content: "";
      width: 1px;
      height: 50px;
      margin-top: 30px;
      margin-bottom: 30px;
      background-color: $base-color;
    }
  }
}

.work-detail__to-back-icon {
  @include mq-min(1024px) {
    position: relative;
    width: rem(22);
    height: rem(22);
    order: 1;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: calc(50% - 1px);
      left: 0;
      right: 0;
      height: 2px;
      background-color: $base-color;
    }

    &::before {
      transform: rotate(-45deg) scaleX(1.1);
    }

    &::after {
      transform: rotate(45deg) scaleX(1.1);
    }

    width: vh(22);
    height: vh(22);
  }
}
